body{
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    color: rebeccapurple;
}
table{
    border: 2px solid darkorchid;
    margin: 0 auto;
    width: 650px;
}
td{
    border-top: 1px solid purple;
}
thead{
    background-color: plum;
}
span{
    background-color: beige;
    font-family: monospace;
}